<!-- <section>
  <div class="parent">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="card">
          <div class="front">
            <img src="courses/css.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
          <div class="front">
            <img src="courses/angular.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
          <div class="front">
            <img src="courses/react.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
          <div class="front">
            <img src="courses/sql.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  </div>
</section> -->

<!-- <section>
  <div class="parent">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div
          class="swiper-slide"
          *ngFor="let slide of slides; let i = index"
          [class.flipped]="flippedIndex === i"
        >
          <div class="card" (click)="flipCard(i)">
            <div class="front">
              <img [src]="slide.img" [alt]="slide.title" />
            </div>
            <div class="back">
              <p>{{ slide.desc }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section> -->
<section class="carousel-container">
  <div class="swiper-parent">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div
          
          class="swiper-slide w-[250px]"
          *ngFor="let slide of slides; let i = index"
          [class.flipped]="flippedIndex === i"
        >
          <div class="card " (click)="flipCard(i)">
            <div class="front">
              <img [src]="slide.img" [alt]="slide.title" />
              <div class="card-info">
                <h3>{{ slide.title }}</h3>
              </div>
            </div>
            <div class="back">
              <p>{{ slide.desc }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
