<div class="">
  <!-- Hero Section -->
  <app-head-section
    [title]="'About Eduverse'"
    [subtitle]="'Education is the most powerful weapon which you can use to change the world. - Nelson Mandela'"
  >
</app-head-section>

  <!-- Content Sections -->
  <div class="w-[80%] mx-auto ">
    <app-our></app-our>
    <app-our-mission></app-our-mission>
    <app-our-story></app-our-story>
    <app-our-team></app-our-team>
    <app-our-values></app-our-values>
    <app-why-choose-us></app-why-choose-us>
  </div>
</div>
