<div class="bg-white" >
  <!-- Hero Section -->
  <div
    class=" px-8 relative bg-gradient-to-br from-violet-900 via-violet-800 to-violet-900 text-white py-20 md:py-28 w-full"
  >
    <div class="container mx-auto text-center">
      <h1 class="text-4xl md:text-6xl font-bold">About Eduverse</h1>
      <p class="text-lg md:text-xl mt-4 text-violet-200">
        Discover our story, mission, and the team dedicated to revolutionizing education.
      </p>
    </div>
  </div>

  <!-- Content Sections -->
   <div class="px-25">

     <app-about></app-about>
    </div>
</div>
