<!-- <section>
  <div class="w-full overflow-x-scroll flex gap-4 no-scrollbar perspective-[1200px]">
    <img src="1.jpg" alt="" class="w-40 h-40 rounded-lg shadow-md" draggable="false"/>
    <img src="2.jpg" alt="" class="w-40 h-40 rounded-lg shadow-md" draggable="false" />
    <img src="3.jpg" alt="" class="w-40 h-40 rounded-lg shadow-md"  draggable="false"/>
    <img src="1.jpg" alt="" class="w-40 h-40 rounded-lg shadow-md" draggable="false"/>
    <img src="2.jpg" alt="" class="w-40 h-40 rounded-lg shadow-md" draggable="false" />
    <img src="3.jpg" alt="" class="w-40 h-40 rounded-lg shadow-md"  draggable="false"/>
    <img src="1.jpg" alt="" class="w-40 h-40 rounded-lg shadow-md" draggable="false"/>
    <img src="2.jpg" alt="" class="w-40 h-40 rounded-lg shadow-md" draggable="false" />
    <img src="3.jpg" alt="" class="w-40 h-40 rounded-lg shadow-md"  draggable="false"/>
    <img src="1.jpg" alt="" class="w-40 h-40 rounded-lg shadow-md" draggable="false"/>
    <img src="2.jpg" alt="" class="w-40 h-40 rounded-lg shadow-md" draggable="false" />
    <img src="3.jpg" alt="" class="w-40 h-40 rounded-lg shadow-md"  draggable="false"/>


  </div>
</section> -->

<section
  #slider
  class="slider flex gap-2 overflow-x-scroll overflow-y-hidden no-scrollbar p-10 justify-center"
>
  <img src="1.jpg" alt="" draggable="false" class="card" />
  <img src="2.jpg" alt="" draggable="false" class="card" />
  <img src="3.jpg" alt="" draggable="false" class="card" />
  <img src="1.jpg" alt="" draggable="false" class="card" />
  <img src="2.jpg" alt="" draggable="false" class="card" />
  <img src="3.jpg" alt="" draggable="false" class="card" />
  <img src="1.jpg" alt="" draggable="false" class="card" />
  <img src="2.jpg" alt="" draggable="false" class="card" />
  <!-- <img src="3.jpg" alt="" draggable="false" class="card" />
  <img src="1.jpg" alt="" draggable="false" class="card" />
  <img src="2.jpg" alt="" draggable="false" class="card" />
  <img src="3.jpg" alt="" draggable="false" class="card" />
  <img src="1.jpg" alt="" draggable="false" class="card" />
  <img src="2.jpg" alt="" draggable="false" class="card" />
  <img src="3.jpg" alt="" draggable="false" class="card" />
  <img src="1.jpg" alt="" draggable="false" class="card" />
  <img src="2.jpg" alt="" draggable="false" class="card" />
  <img src="3.jpg" alt="" draggable="false" class="card" />
  <img src="1.jpg" alt="" draggable="false" class="card" />
  <img src="2.jpg" alt="" draggable="false" class="card" />
  <img src="3.jpg" alt="" draggable="false" class="card" /> -->
</section>
