
img{
  user-select: none;

}

/* إخفاء شريط التمرير */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* حركة السحب بالماوس */
section {
  scroll-behavior: smooth;
  perspective: 1200px;
  transform-style: preserve-3d;
  perspective-origin: center center;
  transform: translateZ(800px)
}


.slider {
  perspective: 1200px;
  transform-style: preserve-3d;
  scroll-behavior: smooth;
  perspective-origin: center center;
  cursor: grab;
}

.slider:active {
  cursor: grabbing;
}

.card {
  width: 220px;
  height: 300px;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transform-origin: center center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
}



