<app-home-hero-section></app-home-hero-section>
<app-waves class="rotate-180"></app-waves>
<div class="w-[80%] mx-auto">
  <div class="my-15 mt-20">
    <app-coaching-section></app-coaching-section>
  </div>
  <div class="my-15 mt-20">
    <app-why-e-learning></app-why-e-learning>
  </div>
  <div class="my-15 mt-20">
    <app-teaching-methods></app-teaching-methods>
  </div>
  <div class="my-15 mt-20">
    <app-our-roadmap></app-our-roadmap>
  </div>
  <div class="my-15 mt-20">
    <app-our-story></app-our-story>
  </div>
  <!-- <div class="my-15 mt-45">
    <app-our></app-our>
  </div> -->
</div>
<app-contact-us id="contactForm"></app-contact-us>

<app-waves></app-waves>
