<!-- <div class="relative overflow-hidden py-32 bg-gradient-to-br from-amber-50 to-violet-500">
  <div class="curved-wrapper">
    <div class="curved-track">
      <div class="flex gap-6 animate-scroll">
        @for (image of images; track $index) {
        <div
          class="card-item flex-shrink-0 w-48 h-80 rounded-3xl overflow-hidden shadow-2xl hover:shadow-3xl transition-all duration-300"
        >
          <img [src]="image.url" [alt]="image.alt" class="w-full h-full object-cover" />
        </div>
        } @for (image of images; track $index) {
        <div
          class="card-item flex-shrink-0 w-48 h-80 rounded-3xl overflow-hidden shadow-2xl hover:shadow-3xl transition-all duration-300"
        >
          <img [src]="image.url" [alt]="image.alt" class="w-full h-full object-cover" />
        </div>
        }
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <div id="ring">
    <div class="img"></div>
    <div class="img"></div>
    <div class="img"></div>
    <div class="img"></div>
    <div class="img"></div>
    <div class="img"></div>
    <div class="img"></div>
    <div class="img"></div>
    <div class="img"></div>
    <div class="img"></div>
  </div>
</div>
<div class="vignette"></div>

<div id="dragger"></div>
