.convex-top-shape {
  position: relative;
  border-top-left-radius: 50% 125px;
  border-top-right-radius: 50% 125px;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .convex-top-shape {
    border-top-left-radius: 50% 70px;
    border-top-right-radius: 50% 70px;
  }
}
